
@{
  Layout="Shared/_Layout.cshtml";
}
<form action="/" method="post">
  <div class="form-group">
    <label for="palindromeTest">Write a word or phrase!</label>
    <input class="form-conrol" id=palindromeTest name=palindromeTest type="text">
    <button type="submit" class="btn btn-info">Submit</button>
  </div>
</form>

@if(@Model != null)
{
  <ul>
    <li>@Model</li>
  </ul>
}
